.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/

.theos
/packages
.theos/
packages/
.DS_Store

.vscode
.idea

plans
frida_scripts
lldb_scripts
docs
findings_summary
logs
out

.omp
.venv
frida
layout
RE

*.py
FridaGadget.config
FridaGadget.dylib
.env
node_modules